<dx-drop-down-box
  #dropDownBox
  [value]="value"
  (onValueChanged)="onDropDownValueChanged($event)"
  [dataSource]="categories"
  valueExpr="id"
  displayExpr="name"
>
  <div *dxTemplate="let data of 'content'">
    <dx-tree-list
      #treeList
      [dataSource]="categories"
      keyExpr="id"
      parentIdExpr="parentId"
      [selectedRowKeys]="selectedRowKeys"
      (onSelectionChanged)="onSelectionChanged($event)"
    >
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="name"></dxi-column>
    </dx-tree-list>
  </div>
  <dxi-button 
    location="after" 
    name="customClear"
    [options]="{ icon: 'remove', onClick: clearSelection.bind(this) }"
  >
  </dxi-button>
</dx-drop-down-box>
